@import '../variables';
@import '../mixins';

.projects-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  h2{
    margin-bottom: 5px;
  }
  @media(max-width: 512px){
    padding: 10px 0 0 0;
  }
  h2, p{
    margin-bottom: .5rem;
  }
.button2{
  @include btn;
  margin-top: 5px;
  @media(max-width: 800px){
    width: -webkit-fill-available;
    text-align: center;
  }
}
}
  


