@import '../variables';
@import '../mixins';

#sidebar{
  display: flex;
  flex-direction: column;
  background-color: $bg-color;
  width: fit-content;
  padding: 20px;
  border-radius: 5px;
  align-items: center;
  padding-right: 1rem;
  h2{
    font-size: 2.5rem;
    color: #a9c2c9;
    max-width: fit-content;
    position: absolute;
    top: 30px;
    
    @media(max-width: 512px){
        position: absolute;
        text-align: center;
        font-size: 2rem;
     
      }
  }
  img{
    max-width: 100%;
    border-radius: 10px;
    margin: auto;
  }

  .span{
    @include span();
  }

  .span:nth-child(6){
    @include span();
    width: 150px;
  }

  .title{
    @include center;
    color: $text-color;
    margin-top: 1rem;
  }

  .btn{
    @include btn;
  }
}