@import '../variables';
@import '../mixins';

#container{
@media(max-width: 512px){
    max-width: 280px;
    display: flex;
    flex-direction: column;
  }
 
  #portfolio{
    margin-left: 1rem;
    display: flex;
    gap: 1.5rem;
    color: #fff;
    justify-content: center;
    padding: 3rem 0 3rem 0;
    @media(max-width: 800px){
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      align-self: center;
    }
  }

}

