@import '../variables';
@import '../mixins';

#container{
  h1{
    font-size: 2.5rem;
    color: #a9c2c9;
    max-width: fit-content;
    position: absolute;
    left: 15rem;
    top: 1.5rem;
  }
  #portfolio{
    margin-left: 1rem;
    display: flex;
    gap: 1.5rem;
    color: #fff;
    justify-content: center;
    padding: 3rem 0 3rem 0;
    
  }

}

